NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_abcd123
NEXT_PUBLIC_CONVEX_URL=my-convex-url.cloud
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/app/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_MARKETING_URL=http://localhost:3000
